@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.animated-title {
  color: #fff;
  height: 220px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif; /* Updated to Montserrat */
  text-transform: uppercase; /* Make text uppercase */
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.animated-title > div div {
  padding: 0.25rem 0.75rem;
  position: absolute;
}

.animated-title > div.text-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  top: 0;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transform: translate(0, 100%);
}

.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  transform: translate(0, -100%);
}

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.text-white {
  font-family: 'Montserrat', sans-serif; /* Updated font */
  color: white;
  font-weight: bold;
  font-size: 5rem;
}

.text-white.md\:text-7xl {
  font-size: 6rem;
}

@media (max-width: 768px) {
  .text-white {
    font-size: 3rem;
  }

  .text-white.md\:text-7xl {
    font-size: 4rem;
  }
}
